In [1]:
import pandas as pd

In [2]:
file_path = '/home/fractaluser/Fractal/data/airline/unzipped'

In [3]:
df = pd.read_csv(file_path+'/1987.csv')

In [4]:
df['date'] = df['DayofMonth'].astype(str) + '-' + df['Month'].astype(str) + '-' + df['Year'].astype(str)

In [5]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,date
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,14-10-1987
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,15-10-1987
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,17-10-1987
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,18-10-1987
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,19-10-1987

In [ ]:
for c in df.date.unique():
    (df[df.date == c]).to_csv(file_path+'/'+c+'.csv', index=False)